<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jalizadeh.com.androidadvanced">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragments_Video01.Fragments_MainActivity" />
        <activity android:name=".Fragments_Video01.Fragments_SecondActivity" />
        <activity
            android:name=".TopAndBottomAppBars.Activity_TopAndBottomAppBars"
            android:theme="@style/Video02" />
        <activity android:name=".TopAndBottomAppBars.Activity_One" />
        <activity android:name=".TopAndBottomAppBars.Activity_Two" />
        <activity android:name=".TopAndBottomAppBars.Activity_Three" />
        <activity android:name=".TopAndBottomAppBars.Activity_Four" />
        <activity android:name=".RetrofitJSON.Activity_Retrofit" />
        <activity android:name=".DialogFragment.Activity_DialogFragment" />
        <activity android:name=".RecyclerView.Activity_RecyclerView" />
        <activity android:name=".RecyclerViewWithGallery.Activity_RecyclerViewWithGallery" />
        <activity android:name=".RecyclerViewWithGallery.Activity_Gallery"></activity>
    </application>

</manifest>